body
{
height: 100%;
}

a{
text-decoration: none;
border-radius:40%;
}

#list a:hover
{
background-color:#EDFAFA;
}

#header h1
{
margin-left:50px;
margin-right:100px;
/*border-right:1px solid grey;*/
font-family:'Alex Brush',cursive;
font-weight:400;
position:relative;
padding-top:20px;
left:5px;
font-size:60px;
}

#header p, #list a
{
font-family: 'Noto Sans', sans-serif;
}

#header a
{
color: #000;
}

div#list
{
padding-top:20px;
float:left;
margin-left:80px;
list-style-type:none;
}

div#list table
{
border-right:1px grey solid;
position:fixed;
}

div#list a
{

left:10px;
padding-right:10px;
padding-left: 10px;

}

img.pic
{
position:relative;
display:block;
background-color: #grey;
box-shadow:5px 5px 5px grey;
width:100px;
height:100px;
float:left;
margin-right:20px;
margin-bottom:2px;
z-index:-1;
}

#date
{
margin-left:100px;
margin-right:100px;
}