div#content
{
margin-left:100px;
margin-right:100px;
margin-bottom:100px;
}

div#content p
{
font-family: 'Noto Sans', sans-serif;
}

#content table
{
padding-left:50px;
}

div#contact
{
width:700px;
}
