div#content
{
margin-left:300px;
/*background-color:red;
margin-left:100px;
margin-right:100px;
margin-bottom:100px;*/
}

/*h2, h3, h4, h5, h6
{
font-family:'Noto Sans', sans-serif;
}*/

div#content p
{
font-family: 'Noto Sans', sans-serif;
}

#content table
{
padding-left:50px;
}

div#article
{
}

div#article h3,h5
{
font-family: 'Noto Sans',sans-serif;
font-weight:800;
font-size:25px;
}

div#article p
{
}

div#article_about
{
width:700px;
}

#article_contact h5
{
font-size:20px;
}

#grid span
{
height:450px;
float:left;
margin-left:20px;
box-shadow:4px 4px 0px grey;
}