html
{
background-color:#F8E8FA;
}

a{
text-decoration: none;
border-radius:40%;
}

#list a:hover
{
background-color:grey;
}

#header
{
margin-left:100px;
margin-right:100px;
}

#header h1
{
font-family:'Noto Serif',serif;
font-weight:400;
position:relative;
padding-top:20px;
left:5px;
}

#header a
{
color: #000;
}
div#list
{
position:relative;
padding-bottom:10px;
}

div#list a
{
font-family: 'Noto Sans', sans-serif;
left:10px;
padding-right:10px;
padding-left: 10px;

}

img.pic
{
position:relative;
display:block;
background-color: #000;
border-radius:50%;
width:100px;
height:100px;
float:right;
margin-right:10px;
margin-bottom:10px;
}
                                                              65,1          Bot

