div#download
{
padding-bottom:20px;
border-bottom:1px solid grey;
}

h3
{
padding-top:20px;
}

div#article_resume p,li
{
width:700px;
padding-top:10px;
font-family: 'Noto Sans', sans-serif;
color:grey;
}

div#article_resume li
{
margin-left:20px;
}

div#education
{
padding-top:20px;
padding-bottom:20px;
border-bottom:1px solid grey;
}

div#skills
{
padding-top:20px;
padding-bottom:20px;
border-bottom:1px solid grey;
}

div#exp
{
padding-top:20px;
padding-bottom:40px;
border-bottom:1px solid grey;
}

div#projects
{
padding-top:20px;
padding-bottom:20px;
border-bottom:1px solid grey;
}

div#projects a
{
color:black;
}

div#honors
{
padding-top:20px;
padding-bottom:40px;
}
