<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
</style>
<script>
function myFun(){
document.getElementById("progress").innerHTML="Processing...";
}
</script>
<title>ArtSci Project</title>
</head>
<body>

<div style="margin-left:50px;" id="ti">
<h3><a style="color:#44c767;text-decoration:none;" href="/">Home</a></h3>
<h2 style="color:#994EC7; font-size:200%;">Imagitext</h2>
<p style="font-size:120%;">Description:This program converts texts into image file and also extract texts from an image.</p>

<h4 style="font-size:120%;">Input some text in the box and compress it into Image</h4>
<form action="/artsci" method="POST">{% csrf_token %}
{{form.textField}}
<input class="myButton" type="submit" value="Submit" onclick="myFun()"/>
<p id="progress"></p>
</form>

<h4 style="font-size:120%;">Or upload an image file and decode the text from it</h4>
<form enctype="multipart/form-data" action="/artsci" method="POST">{% csrf_token %}
{{img.imageField}}
<input class="myButton" type="submit" value="Submit" onclick="myFun()"/>
</form>
</div>

</body>
</html>
