<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div style="margin-left:50px;margin-top:50px;" id="ti">
{% if lt %}
<img src="static/artsciimg.png" alt="The recent image has been deleted">
<p>Isn't this damn beautiful! :)</p>
{% endif %}


{% if bigtext > 0 %}
Download the Text file <a target="_blank" href="static/imgtoText.txt">here</a>
{% endif %}


<p><a style="color:black;" href="/artsci">Take me back, I want to play around more!</a></p>
<a style="color:black;" href="/">Go Back Home</a>

</div>
</body>
</html>
