<!DOCTYPE html>
<html>
<head>
<title>Zaw Htet</title>
<link rel="icon" type="image/png" href="/static/Z.jpg">
<link rel="stylesheet" type="text/css" href="static/base.css">
<link href="http://fonts.googleapis.com/css?family=Alex+Brush" rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="static/jscript/my.js"></script>

</head>


<header id="header">

<!--<img class="pic" src="/static/Z.jpg">-->
<h1><a href="/">Zaw Htet</a></h1>
<div id="date">
<p id="todayDate"></p>
</div>


<div id="list">  
<table>
	<tr><td height="40"><a href="#article_about" id="about">About</a></td></tr>
	<tr><td height="40"><a href="#article_resume" id="resume">Resume</a></td></tr>
	<tr><td height="40"><a href="#article_projects" id="projects">Projects</a></td></tr>
	<tr><td height="40"><a href="#article_photography" id="photography">Photographs</a></td></tr>
	<tr><td height="40"><a href="#article_contact" id="contact">Contact</a></td></tr>
</table>
</div>

</header>

<body>

{% block content %}{% endblock %}


</body>

<script>
var today= new Date(); var count=0; var s="";
today = String(today);
for (var i=0; i < today.length; i++){
        s += today[i];
        if (today[i] == " "){
                count += 1;
		if (count==4)break;
        }
}
document.getElementById("todayDate").innerHTML=s;

function mOver(obj){
        document.body.style.backgroundColor="#E8F3FC";
}

function mOut(obj){
        obj.innerHTML="About";
	document.body.style.backgroundColor="";
}

</script>
</html>
