<!DOCTYPE html>
<html>
<head>
<title>Zaw Htet</title>
<link rel="icon" type="image/png" href="/static/Z.jpg">
<link rel="stylesheet" type="text/css" href="static/base.css">
<link href="http://fonts.googleapis.com/css?family=Alex+Brush" rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="static/jscript/my.js"></script>

</head>

<h1>My Blog</h1>

{% for x in posts reversed%}
	<h3>{{x.title}}</h3>
	<p>{{x.post}}</p>
{% endfor %}



</html>