<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="static/contact.css">

<div id="content">

<div id="contact">
<table class="contact_table">
<tr><td>
<p>Email: zawmyo.cool@gmail.com</p>
</td></tr>
</table>
</div>

</div>
{% endblock %}
