<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="static/resume.css">

<div id="content">

<div id="download">
<p>You can download pdf version of the resume <a href="static/zsh3n/Resume(ZawHtet).pdf">here</a></p>
</div>


<div id="skills">
<h2>Skills</h2>
<p>C++, C#, Python, Django, Linux, Html, Css, Javascript, jQuery, Ajax, PHP, MySql, Sqlite, Java, Android, Apache</p>
<h4>Other Skills</h4>
<p>Assembling circuit boards, Video Editing, Music Producing (Ableton), Photography, Guitar, Fast learner and loves self-studying</p>
</div>


<div id="education">
<h2>Education</h2>
<h3>Whittier College</h3>
<h4>Bachelor of Arts, May 2014</h4>
<h4>B.A Physic major and Computer Science minor</h4>
<p>Relevant courses:</p>
<p>PHYS 205 (Electronics and Computer Interfacing): Did hands on experiments with circuit boards and understanding the complexity of the circuit</p>
<p>COSC 395 (Scientific Computing Research): Worked on Cellular Automata and implement this theory in Image Processing (Noise reduction, Edge detection)</p>
<p>COSC 295 (Scientific Computing Research): Worked on Optimization research. Did a research for better optimization using different methods such as Golden search/The Method of Trisection, Method of steepest descent, Simulated annealing- Traveling salesman</p>
<p>MATH 354 (Mathematical Modeling): Studied mathematical models of population dynamics, traffic flow, shock wave, phase plane analysis and calculus of variations</p>
<p>COSC 220 (C++): Complexity of Algorithms , Abstract data types, container classes, linked structures, iterators, stacks and priority queues , recursion trees, pointers and dynamic memory</p>
<p>COSC 120 (Python): Did projects on Abstract data structures, Recursion, Successive Refinement, Bisection Method, Memoization, Steganography</p>
</div>


<div id="exp">
<h2>Experience</h2>

<h3>Programmer at Author's Boutique - Raleigh, NC</h3>
<h4>(Summer 2013)</h4>
<li>Operated and maintained multiple websites deployed with wordpress</li>
<li>Ensured that the server could handle high traffic</li>
<li>Developed a plugin written in javascript and php, where authors could easily search for the service they are looking for</li>

<h3>Information Technology Services - Whittier College</h3>
<h4>(Spring 2012 - present)</h4>
<li>Setup, configured and deployed desktop computers for Library and other Academic Departments</li>
<li>Troubleshoot software, hardware and networking problems</li>
<li>Provided technical support and maintain good relationship with students, professors and faculties</li>

<h3>Stage Technician at Ruth B. Shannon Center for Performing Arts</h3>
<h4>(Fall 2011- present)</h4>
<li>Operate and assist in stage lighting, audio system and scenes for performances</li>
<li>Maintaining good communication between crew memebers during shows</li>
<li>Developed team-building skills with crew members as well as with performers leading to a great show which audience enjoy</li>
</div>


<div id="projects">
<h2>Projects</h2>

<h3>Image Processing</h3>
<p>An application which can reduce noise and detect borders in image using Cellular Automata method.</p>

<h3><a href="http://www.poetexchange.com" target="_blank">poetexchange.com</a></h3>
<p>A website where students, only from Whittier College, can buy/sell their textbooks with one another. The site is built using Django web framework on Linux server using Apache and Sqlite.</p>

<h3>Maze</h3>
<p>A small maze generator application written in C++. You can choose the size of the maze and it will create a perfect maze without any isolated area and will also find the shortest path from the start to the end using bread-first search algorithm.</p>

<h3>Salesman's map</h3>
<p>Another small application written in python using wxwidget and utilizing Google Map API. The application show the shortest distance from location to location.</p>

<h3>Steganography</h3>
<p>A small application that encrypt text in picture or picture in picture and decrypt the secret message hidden in it.</p>

<h3>Boggle board game</h3>
<p>Boggle board game written in C++. It reads the input from user and check in the English lexicon and then check if it can be formed on the board. Player gets points according to the length of the word. Once the player has found as many words as he/she can, the computer gets a turn. The computer searches through the board to find all the remaining words. The computer typically beats the player mercilessly showing the superiority of silicon!</p>




</div>

<div id="honors">
<h2>Honors and Awards</h2>
<li>John Greenleaf Merit Scholarship- awarded by Whittier College (Fall 2010)</li>
<li>Member of Sigma Pi Sigma (Physics honor society, SPS) (Spring 2012)</li>
<li>Alverson Music Endowment- awarded by Whittier College (Fall 2012)</li>
</div>







</div>
{% endblock %}
